.main {
    margin-top: 20px;
}

a,
a:link,
a:visited,
a:active {
    color: gray;
}
a:hover {
    color: black;
}

.nav.nav-tabs {
    margin-top: 20px;
}

.files-card {
    width: 100%;
    float: left;
    margin-top: 20px;
}